@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="intro">
    <h1 class="display-1"><b>Welcome!</b></h1>
    <h2 class="display-2">Rules:</h2>
    <h4>Using the Red crossshair Aim and Left-Click mouse to shoot the incoming enemy spaceship.</h4><br />
    <h4>Gain <b>1</b> point per enemy spaceship you shoot. <b>10</b> points per enemy spaceship you destroy.</h4><br />
    <h4>If an enemy spaceship hits your spaceship in the center, the game is over.</h4><br />
</div>

<style>
    #intro h1 {
        color: #4eeaf6;
        border-bottom: ridge 0.5rem;
        border-bottom-color: #c82586;
    }
    #intro h2 {
        color: #c82586;
    }
    #intro h4 {
        color: #291f71;
    }
    b {
        color: #c82586;
    }
</style>